<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Снизу ссылка, чекни ее</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
</head>
<body>
<h1>Поехалааа, чекай ссылку</h1>
<div class="jumbotron">
    <div class="container">
      <p>
        <a href="/" class="btn btn-success btn-lg">Разворачиваемся</a>
      </p>
    </div>
  </div>
  <div class="container">
    <img src="{% static 'mainApp/image/big_1551182146_image.jpg' %}" class="img-thumbnail">
    <hr>
    &copy; https://www.youtube.com/watch?v=y_GFIR2BWLo
  </div>
</body>
</html>